/* NAVBAR */
.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav input[type=text] {
  float: left;
  padding: 6px;
  margin-top: 8px;
  margin-right: 4px;
  border: none;
  border-radius: 4px;
  font-size: 17px;
}
.topnav button[type=submit] {
  float: left;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: 10px;
  font-size: 17px;
}
.topnav img {
  float: left;
  width: 40px;
  margin-left: 110px;
  height: 40px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
}
 
.vazio{
  margin-right: 100px;
}

/* ESTOQUE */
h1{
  font-size: 25px;
  margin-left: 20px;
}

.input-number {
  width: 80px;
  height: 40px;
  padding: 0 30px;
  vertical-align: top;
  text-align: center;
  outline: none;
}

.input-number{
  border: 1px solid #ccc;
  height: 40px;
  user-select: none;
}




.fa{
  /* padding:10px; */
   display: inline-block; 
}

#btn-save {
  /* height: 40px; */
  height: 25px;
  Vertical-align: top;
}

/* ESTOQUE */
.quadrinhoarredondadoexemplo {
  color: white;
  background: #333;
  border: 1px ;
  margin-left: 10px; 
  margin-bottom: 0px;
  padding: 5px;
  text-align: center;
  display: block;
  border-radius: 4px;
}
